<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2 class="text-center text-muted">Configuración de Ajuste de Precio</h2>      
    </div>
  
    <form #aForm="ngForm" (ngSubmit)="onSubmit()" class="row g-3" id="aForm" name="aForm" >
      <app-form-validation [form]="aFormRef" [errorResponse]="errorResponse"></app-form-validation>  
  
      <div class="col-md-6">

        <div class="mb-3">
          <label for="name" class="form-label">Nombre</label>
          <input type="text" id="name" class="form-control" required [(ngModel)]="payload.name" name="name">
          <div class="invalid-feedback"></div>
        </div>

        <div class="mb-3">
            <label for="type" class="form-label">Tipo de Ajuste</label>
            <select id="type"class="form-select" required [(ngModel)]="payload.type" name="type">
              <option *ngFor="let type of adjustmentTypes" [value]="type.key">
                {{ type.value }}
              </option>
            </select>
            <div class="invalid-feedback">Por favor, selecciona un tipo de ajuste.</div>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input type="number" id="value" class="form-control" required [(ngModel)]="payload.value" name="value">
            <div class="invalid-feedback"></div>            
        </div>

        <div class="mb-3">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="percentage" name="percentage" [(ngModel)]="payload.percentage">
                <label class="form-check-label" for="percentage">Es porcentaje</label>
            </div>
        </div> 
         
        <div class="mb-3">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="addition" name="addition" [(ngModel)]="payload.addition">
                <label class="form-check-label" for="addition">Es adición</label>
            </div>
        </div> 

    </div>
    
    <div class="col-md-6">

        <div class="mb-3">
            <label for="startDate" class="form-label">Fecha de Comienzo</label>
            <input type="date" id="startDate" class="form-control" required [(ngModel)]="payload.startDate" name="startDate">
            <div class="invalid-feedback"></div>
        </div>
        
        <div class="mb-3">
            <label for="startDate" class="form-label">Fecha de Fin</label>
            <input type="date" id="endDate" class="form-control" required [(ngModel)]="payload.endDate" name="endDate">
            <div class="invalid-feedback"></div>
        </div>        
  
      </div>
  
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger ms-2" (click)="cancelConfirmation.show()">Cancelar</button>
  
      </div>
    </form>
    
  
  </div>
  
  <app-confirmation-modal
    #cancelConfirmation
    [title]="'Confirmar Cancelación'"
    [message]="'¿Estás seguro de que deseas descartar los cambios?'"
    [confirmButtonText]="'Sí, descartar'"
    [cancelButtonText]="'No'"
    (confirm)="cancel()"
    (cancel)="onCancelClosed()">
  </app-confirmation-modal>
  
